<table width="100%" border="0" align="center" style="position:absolute;top:5%;">
  <tr>
    <td align="right" width="272" height="277"><img src="<%=asset_path("logoclienteleft.png")%>" alt="sfg" /></td>
    <td align="center" width="502" height="761" background="<%=asset_path("clienteingreso.png")%>" style="background-repeat:no-repeat">
<br/>
<br/>
<br/>
<span style="position:relative;left:-90px"><%= link_to 'Back', ganadores_path %></span>
<%= form_for(@participant) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
      <% @participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :identidad %><br />
    <%= f.text_field :identidad %>
  </div>
  <div class="field">
    <%= f.label :edad %><br />
    <%= f.text_field :edad %>
  </div>
  <div class="field">
    <%= f.label :producto, "Presentacion de Producto" %><br />
    <%= f.select :producto, {"1" => "1", "2" => "2", "3" => "3"} %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </div>
  <div class="actions">
    <%= f.submit "Participar" %>
  </div>
<% end %>
		</td>
    <td align="center">&nbsp;</td>
  </tr>
</table>
