<% @current_user = current_user %>
<% if @current_user %>
  <%= link_to "Log out", log_out_path %>
	<table width="100%" border="0" align="center" style="position:absolute;top:5%;">
  	<tr>
  	  <td align="right">&nbsp;</td>
  	  <td align="center">
			  <img width="849" height="120" src="<%=asset_path("MenuIngresarParticipante.png")%>"
         usemap="#Map"/>
			</td>
  	  <td align="center">&nbsp;</td>
  	</tr>
  </table>
  <%= render 'form' %>
<map name="Map" id="Map">
  <area shape="rect" coords="96,27,233,88" href="<%=new_participant_path%>" alt="Ingresar Participante" />
  <area shape="rect" coords="238,28,370,86" href="<%=ganadors_path%>" alt="Listado de Ganadores" />
  <area shape="rect" coords="374,25,527,89" href="<%=participants_path%>" alt="Listado de Participantes" />
  <area shape="rect" coords="530,25,650,89" href="<%=new_ganador_path%>" alt="Generar Ganadores" />
  <area shape="rect" coords="653,25,826,89" href="<%=new_user_path%>" alt="Crear Administradores" />
</map>
<%end%>
