<% @current_user = current_user %>
<% if @current_user %>
	<table width="100%" border="0" align="center" style="position:absolute;top:5%;">
  	<tr>
  	  <td align="right">&nbsp;</td>
  	  <td align="center">
			  <img width="908" height="185" src="<%=asset_path("MenuIngresarParticipante.png")%>"
         usemap="#Map"/>
			</td>
  	  <td align="center">&nbsp;</td>
  	</tr>
  </table>
  <%= render 'form' %>
<map name="Map" id="Map">
  <area shape="rect" coords="158,26,294,89" href="<%=new_participant_path%>" alt="Ingresar Participante" />
  <area shape="rect" coords="297,26,431,89" href="<%=ganadors_path%>" alt="Listado de Ganadores" />
  <area shape="rect" coords="433,28,585,89" href="<%=participants_path%>" alt="Listado de Participantes" />
  <area shape="rect" coords="588,27,709,91" href="<%=new_ganador_path%>" alt="Generar Ganadores" />
  <area shape="rect" coords="712,27,880,90" href="<%=new_user_path%>" alt="Crear Administradores" />
</map>
<%end%>
