<% @current_user = current_user %>
<% if @current_user %>
<%= link_to 'Back', participants_path %>
<p>
  <b>Nombre:</b>
  <%= @participant.nombre %>
</p>

<p>
  <b>Identidad:</b>
  <%= @participant.identidad %>
</p>

<p>
  <b>Teléfono:</b>
  <%= @participant.telefono %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @participant.ciudad %>
</p>

<p>
  <b>Código:</b>
  <%= @participant.codigo %>
</p>

<p>
  <b>Producto:</b>
  <%= @participant.producto %>
</p>

<% end %>
