<div>
<div align="center">
	<img width="988" height="379" src="<%=asset_path("index_top.png")%>" usemap="#Map"/>
</div>

<div style="background-image:url(<%=asset_path("topgradient.png")%>);height:35px">
</div>

<div class="encabezado" style="background-image:url(<%=asset_path("PixelBlanco.png")%>);
height:100px;text-align:center;color:#d40000;font-family:Georgia,serif;font-size:36px">
	<br/>
	<br/>
	<span>
		MASECA premia tu preferencia
	</span>
</div>

<div style="background-image:url(<%=asset_path("linea.png")%>);height:9px">
</div>

<div class="body" style="background-image:url(<%=asset_path("PixelBlanco.png")%>);height:100px;color:#4d4d4d;font-family:Verdana,sans-serif;font-size:14px;padding:30px">
<span>Recuerda que, para participar, debes ingresar el código de activación que se encuentra impreso en los paquetes de Maseca, después de la palabra código, y que está compuesto por 7 números. Para activarlo puedes llamar al 2508 1700 o bien enviando mensajes de texto SMS a cualquiera de los números: 9692 1700 ó 3177 1700, separando por una coma los
espacios entre los campos con tu nombre, identidad, ciudad en la que vives, código y
presentación (1, 2, 4 ó 5) libras, si recibes un mensaje de confirmación tu mensaje fue
procesado correctamente, de lo contrario inténtalo de nuevo.<br/>
En el enlace de esta página también puedes activar tu código, haz click sobre el texto “¡Ingresa tu código aquí!” <br/>
*Promoción válida únicamente para Honduras.
</span>
</div>

<div class="encabezado" style="background-image:url(<%=asset_path("PixelBlanco.png")%>);
height:100px;text-align:center;color:#d40000;font-family:Georgia,serif;font-size:36px">
	<br/>
	<br/>
	<span>
		Pr&oacute;xima entrega de premios
	</span>
</div>

<div style="background-image:url(<%=asset_path("linea.png")%>);height:9px">
</div>

<div class="body" style="background-image:url(<%=asset_path("PixelBlanco.png")%>);height:100px;color:#4d4d4d;font-family:Verdana,sans-serif;font-size:14px;padding:30px">
	<span>
	Recuerda todas las semanas hay ganadores, debes estar pendiente cada semana y revisar
	si eres uno de los muchos afortunados, recuerda son los 24 super’s del año.
	</span>
</div>

<div style="background-image:url(<%=asset_path("botgradient.png")%>);height:35px">
</div>

<map name="Map" id="Map">
  <area shape="rect" coords="898,2,986,30" href="<%=legal_path%>" target="_self" />
  <area shape="rect" coords="288,318,708,371" href="<%=new2_participant_path%>"/>
</map>
</div>
