<h1>Listing ganadors</h1>

<% @ganadors.each do |ganador| %>
  <% @g = ganador.getGanadorData %>
  <div>
    <p><b>Nombre:</b><%= @g.nombre %></p>
    <span><%= link_to 'Show', ganador %></span>|
    <span><%= link_to 'Edit', edit_ganador_path(ganador) %></span>
    <span><%= link_to 'Destroy', ganador, confirm: 'Are you sure?', method: :delete %></span>
  </div>
<% end %>
<br />

<%= link_to 'New Ganador', new_ganador_path %>
