<% @current_user = current_user %>
<% if @current_user %>
<%= link_to 'Back', ganadors_path %>
<% @g = @ganador.getGanadorData %>
<p>
  <b>Nombre:</b>
  <%= @g.nombre %>
</p>

<p>
  <b>Identidad:</b>
  <%= @g.identidad %>
</p>

<p>
  <b>Edad:</b>
  <%= @g.edad %>
</p>

<p>
  <b>Tipo de producto:</b>
  <%= @g.producto %>
</p>

<p>
  <b>Codigo de producto:</b>
  <%= @g.codigo %>
</p>

<% if @ganador.foto_file_name != nil %>
<p>
  <%= image_tag @ganador.foto.url %>
</p>
<% end %>
<% end %>
