<!DOCTYPE html>
<html>
<head>
  <title>Maseca Promo</title>
  <link rel="icon" type="image/gif" href="<%=asset_path("favicon.gif")%>"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-image:url(<%= asset_path("backgroundganadores.jpg")%>);background-repeat:repeat">
<%= yield %>
</body>
</html>
